$text-color:#F1F3FF;
$white-color:#ffffff;
$grey-color: #808080;
$black-color: #000000;

$card-images : (
    1 : '../../images/desktop/image-deep-earth.jpg',
    2 : '../../images/desktop/image-night-arcade.jpg',
    3 : '../../images/desktop/image-soccer-team.jpg',
    4 : '../../images/desktop/image-grid.jpg',
    5 : '../../images/desktop/image-from-above.jpg',
    6 : '../../images/desktop/image-pocket-borealis.jpg',
    7 : '../../images/desktop/image-curiosity.jpg',
    8 : '../../images/desktop/image-fisheye.jpg'
) 
